In [1]:
import pandas as pd

In [15]:
students = pd.read_csv('./students.csv', index_col='Serial', names=['Serial', 'Studenty Name', 'Course', 'Center', 'Duration'], skiprows=1)

In [16]:
students

       Studenty Name Course       Center Duration
Serial
1               Inam     AI   Saylani HO   1 to 5
1               Inam     AI   Saylani HO   1 to 5
1               Inam     AI   Saylani HO   1 to 5
1               Inam     AI   Saylani HO   1 to 5
1               Inam     AI   Saylani HO   1 to 5
1               Inam     AI   Saylani HO   1 to 5
1               Inam     AI   Saylani HO   1 to 5
1               Inam     AI   Saylani HO   1 to 5
1               Inam     AI   Saylani HO   1 to 5

In [43]:
dfs = pd.read_csv('./housing.csv', sep='\s+', header=None)

In [52]:
dfs.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [48]:
bike_shares = pd.read_csv('./london_merged.csv', parse_dates=True)

In [53]:
bike_shares.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [51]:
bike_shares.cnt.sum()

19905972

In [58]:
bike_shares.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [55]:
bike_shares[bike_shares.is_holiday == 0].cnt.mean()

1151.5251908396947

In [59]:
bike_shares[bike_shares.season == 0].cnt.mean()

1103.8315885298134

In [60]:
bike_shares[bike_shares.season == 1].cnt.mean()

1464.4652382037839

In [61]:
bike_shares[bike_shares.season == 2].cnt.mean()

1178.9542179874506

In [62]:
bike_shares[bike_shares.season == 3].cnt.mean()

821.7290993071593

In [63]:
bike_shares.corr()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
cnt,1.000000,0.388798,0.369035,-0.462901,0.116295,-0.166633,-0.051698,-0.096499,-0.116180
t1,0.388798,1.000000,0.988344,-0.447781,0.145471,-0.097114,-0.042233,-0.005342,-0.285851
t2,0.369035,0.988344,1.000000,-0.403495,0.088409,-0.098385,-0.040051,-0.008510,-0.285900
hum,-0.462901,-0.447781,-0.403495,1.000000,-0.287789,0.334750,0.032068,0.028098,0.290381
wind_speed,0.116295,0.145471,0.088409,-0.287789,1.000000,0.124803,-0.002606,0.011479,0.010305
weather_code,-0.166633,-0.097114,-0.098385,0.334750,0.124803,1.000000,0.012939,0.042362,0.098976
is_holiday,-0.051698,-0.042233,-0.040051,0.032068,-0.002606,0.012939,1.000000,-0.094898,-0.032488
is_weekend,-0.096499,-0.005342,-0.008510,0.028098,0.011479,0.042362,-0.094898,1.000000,0.001067
season,-0.116180,-0.285851,-0.285900,0.290381,0.010305,0.098976,-0.032488,0.001067,1.000000