# sameed-mohsin@hotmail.com

In [1]:
import numpy as np

In [3]:
arr = np.array([3,5,8,16])

In [4]:
arr2 = arr * 10

In [5]:
arr2

array([ 30,  50,  80, 160])

In [6]:
arr * arr

array([  9,  25,  64, 256])

In [7]:
ages = np.array([22, 24, 35, 46, 26])

In [43]:
ages = np.array([22, 24, 35, 46, 26, 42, 36])
names = np.array(['Bob', 'Joe', 'Will', 'Bob-Jr', 'Will-Sr', 'Joe2', 'Joe3'])

In [44]:
adult = ages > 30

In [45]:
names[adult]

array(['Will', 'Bob-Jr', 'Joe2', 'Joe3'], dtype='<U7')

In [10]:
ages[adult]

array([35, 46])

In [11]:
arr.ndim

1

In [25]:
arr2 = np.array([[22, 24, 35, 46, 26], [2, 5, 89, 4, 6], [26, 4, 9, 40, 5]])

In [15]:
arr2.ndim

2

In [16]:
arr2

array([[22, 24, 35, 46, 26],
       [ 2,  5, 89,  4,  6],
       [ 2,  5, 89,  4,  6]])

In [18]:
arr2[2,2]

89

In [19]:
arr2[2][2]

89

In [20]:
arr

array([ 3,  5,  8, 16])

In [21]:
arr[1:3]

array([5, 8])

In [22]:
arr[-1:-4:-1]

array([16,  8,  5])

In [23]:
arr[-1:-4]

array([], dtype=int32)

In [26]:
arr2

array([[22, 24, 35, 46, 26],
       [ 2,  5, 89,  4,  6],
       [26,  4,  9, 40,  5]])

In [27]:
arr2[0:1]

array([[22, 24, 35, 46, 26]])

In [32]:
arr2[1:]

array([[ 2,  5, 89,  4,  6],
       [26,  4,  9, 40,  5]])

In [31]:
arr2[:]

array([[22, 24, 35, 46, 26],
       [ 2,  5, 89,  4,  6],
       [26,  4,  9, 40,  5]])

In [34]:
arr2[1:,3:] = 0

In [35]:
arr2

array([[22, 24, 35, 46, 26],
       [ 2,  5, 89,  0,  0],
       [26,  4,  9,  0,  0]])

In [36]:
arr2[:,1:3]

array([[24, 35],
       [ 5, 89],
       [ 4,  9]])

In [37]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

In [38]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [46]:
arr = np.empty((8, 4))

In [47]:
for i in range(8):
    arr[i] = i

In [53]:
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [56]:
arr[[7, 1, 0]] = -1

In [57]:
arr

array([[-1., -1., -1., -1.],
       [-1., -1., -1., -1.],
       [ 2.,  2.,  2.,  2.],
       [ 3.,  3.,  3.,  3.],
       [ 4.,  4.,  4.,  4.],
       [ 5.,  5.,  5.,  5.],
       [ 6.,  6.,  6.,  6.],
       [-1., -1., -1., -1.]])

y = mX + C

m = 0.5

C = 0

In [60]:
m = 0.5
C = 0.0
X = np.array([0, .5, 1, 1.5, 2, 2.5, 3])

In [61]:
y = m * X + C

In [62]:
y

array([0.  , 0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 ])

In [76]:
arr3 = np.array([3, 5, 4, 8, 0, 5]).reshape(3,2)

In [77]:
arr3

array([[3, 5],
       [4, 8],
       [0, 5]])

In [80]:
np.mean(arr3, axis = 1)

array([4. , 6. , 2.5])

In [81]:
ages

array([22, 24, 35, 46, 26, 42, 36])

In [82]:
adult

array([False, False,  True,  True, False,  True,  True])

In [84]:
adult.sum()

4

In [85]:
adult.any()

True

In [86]:
adult.all()

False

In [90]:
names = np.array(['Bob', 'Joe', 'Will', 'Joe', 'Joe'])

In [88]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [89]:
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [91]:
names1 = np.array(['Bob',  'Will', 'Bob', 'Mohsin', 'Hassan'])

In [92]:
np.intersect1d(names, names1)

array(['Bob', 'Will'], dtype='<U6')

In [94]:
np.setxor1d(names, names1)

array(['Hassan', 'Joe', 'Mohsin'], dtype='<U6')

In [95]:
np.save('Names', names)

In [96]:
np.savez('Names1', x=names, y=names1)