## Data Loading, Storage, and File Formats

In [1]:
import os
a = os.listdir('.')
a

['.git',
 '.ipynb_checkpoints',
 'abc.txt',
 'abc.xml',
 'allData.csv',
 'AllTask.csv',
 'Book1.xlsx',
 'data.json',
 'index.html',
 'mydata.csv',
 'mydata.sqlite',
 'Pandas Ch 6.ipynb',
 'store.h5',
 'Task_1.docx',
 'TAXRATES1.csv',
 'TAXRATES2.csv',
 'test1.xlsx',
 'test2.xlsx']

In [2]:
import pandas as pd

# read_csv

Load delimited data from a file, URL, or file-like object; use comma as default delimiter

In [13]:
data = pd.read_csv('data1.csv')
data

        Course  Students         Location  Faculty Teachers
0           AI      3000       Saylani HO                30
1          CNC      1056  Saylani Gulshan                14
2  Block Chain      1307          Adamjee                12
3          IOT      2000           Bahria                16

In [14]:
pd.read_csv('data1.csv', header=None) # for Default column names

             0         1                2                 3
0       Course  Students         Location  Faculty Teachers
1           AI      3000       Saylani HO                30
2          CNC      1056  Saylani Gulshan                14
3  Block Chain      1307          Adamjee                12
4          IOT      2000           Bahria                16

In [15]:
pd.read_csv('data1.csv',names=['a', 'b', 'c', 'd']) # for custom columns

             a         b                c                 d
0       Course  Students         Location  Faculty Teachers
1           AI      3000       Saylani HO                30
2          CNC      1056  Saylani Gulshan                14
3  Block Chain      1307          Adamjee                12
4          IOT      2000           Bahria                16

In [16]:
pd.read_csv('data1.csv', names=['a', 'b', 'c', 'd'], index_col='a') # Indexing through any column

                    b                c                 d
a
Course       Students         Location  Faculty Teachers
AI               3000       Saylani HO                30
CNC              1056  Saylani Gulshan                14
Block Chain      1307          Adamjee                12
IOT              2000           Bahria                16

In [20]:
data = pd.read_csv('data1.csv', index_col='Course')
data

             Students         Location  Faculty Teachers
Course
AI               3000       Saylani HO                30
CNC              1056  Saylani Gulshan                14
Block Chain      1307          Adamjee                12
IOT              2000           Bahria                16

In [22]:
data.loc['IOT']

Students              2000
Location            Bahria
Faculty Teachers        16
Name: IOT, dtype: object

In [23]:
pd.read_csv('data1.csv', index_col=['Course','Faculty Teachers']) # Indexing multiple columns

                              Students         Location
Course      Faculty Teachers
AI          30                    3000       Saylani HO
CNC         14                    1056  Saylani Gulshan
Block Chain 12                    1307          Adamjee
IOT         16                    2000           Bahria

In [24]:
pd.isnull(data) #if null return True else False

             Students  Location  Faculty Teachers
Course
AI              False     False             False
CNC             False     False             False
Block Chain     False     False             False
IOT             False     False             False

In [25]:
pd.notnull(data)

             Students  Location  Faculty Teachers
Course
AI               True      True              True
CNC              True      True              True
Block Chain      True      True              True
IOT              True      True              True

In [26]:
pd.read_csv('TAXRATES1.csv', na_values=[0,'one']) #na_values m jo bhi data do agar exist krta ho to to wo null m conevrt krdeta hai

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AK,NaN,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,1
1,AK,NaN,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,2
2,AK,two,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,3
3,AK,two,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,4

In [43]:
pd.read_csv('data1.csv', skiprows=[0])

            AI  3000       Saylani HO  30
0          CNC  1056  Saylani Gulshan  14
1  Block Chain  1307          Adamjee  12
2          IOT  2000           Bahria  16

In [46]:
pd.read_csv('data1.csv', skipfooter=1)

C:\Users\MT-2019.MIT_R9_PC2\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

        Course  Students         Location  Faculty Teachers
0           AI      3000       Saylani HO                30
1          CNC      1056  Saylani Gulshan                14
2  Block Chain      1307          Adamjee                12

# path 
String indicating filesystem location, URL, or file-like object

# sep or delimiter 
Character sequence or regular expression to use to split fields in each row

# header 
Row number to use as column names; defaults to 0 (first row), but should be None if there is no
header row

# index_col 
Column numbers or names to use as the row index in the result; can be a single name/number or a
list of them for a hierarchical index

# names 
List of column names for result, combine with header=None

# skiprows 
Number of rows at beginning of file to ignore or list of row numbers (starting from 0) to skip.

# na_values 
Sequence of values to replace with NA.
# comment 
Character(s) to split comments off the end of lines.

# parse_dates 
Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns.
Otherwise can specify a list of column numbers or name to parse. If element of list is tuple or list, will
combine multiple columns together and parse to date (e.g., if date/time split across two columns).

# keep_date_col 
If joining columns to parse date, keep the joined columns; False by default.
# converters 
Dict containing column number of name mapping to functions (e.g., {'foo': f} would apply the
function f to all values in the 'foo' column).

# dayfirst 
When parsing potentially ambiguous dates, treat as international format (e.g., 7/6/2012 -> June 7,
2012); False by default.
# date_parser 
Function to use to parse dates.

# nrows 
Number of rows to read from beginning of file.
# iterator 
Return a TextParser object for reading file piecemeal.

# chunksize 
For iteration, size of file chunks.
# skip_footer 
Number of lines to ignore at end of file.

# verbose 
Print various parser output information, like the number of missing values placed in non-numeric
# encoding 
Text encoding for Unicode (e.g., 'utf-8' for UTF-8 encoded text).

# squeeze 
If the parsed data only contains one column, return a Series.
# thousands 
Separator for thousands (e.g., ',' or '.').

# Reading Text Files in Pieces

In [48]:
pd.options.display.max_rows = 10 # display maximum 10 rows in output
pd.read_csv('TAXRATES1.csv')

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AK,one,ANCHORAGE BOROUGH,0.0,0.0,0.0,NaN,0.0,1
1,AK,one,ANCHORAGE BOROUGH,0.0,NaN,0.0,0.0,0.0,2
2,AK,two,ANCHORAGE BOROUGH,0.0,0.0,NaN,0.0,NaN,3
3,AK,two,ANCHORAGE BOROUGH,NaN,0.0,0.0,0.0,0.0,4

In [49]:
pd.read_csv('TAXRATES1.csv', nrows=2) # load 2 rows data from file

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AK,one,ANCHORAGE BOROUGH,0,0.0,0,NaN,0,1
1,AK,one,ANCHORAGE BOROUGH,0,NaN,0,0.0,0,2

In [63]:
chunkread = pd.read_csv('allTask.csv', chunksize=11, nrows=100, ) # To read a file in pieces, specify a chunksize as a number of rows
for i in chunkread:
    print(i)
    print('===================================')

   Unnamed: 0 Unnamed: 1          Unnamed: 2 Unnamed: 3  \
0       State    ZipCode       TaxRegionName  StateRate
1          AL      35004               MOODY   0.040000
2          AL      35005          ADAMSVILLE   0.040000
3          AL      35006    JEFFERSON COUNTY   0.040000
4          AL      35007           ALABASTER   0.040000
..        ...        ...                 ...        ...
6          AL      35011           ALEXANDER   0.040000
7          AL      35013             ALLGOOD   0.040000
8          AL      35014    TALLADEGA COUNTY   0.040000
9          AL      35015            IRONDALE   0.040000
10         AL      35016  ARAB (MARSHALL CO)   0.040000

               Unnamed: 4           Unnamed: 5         Unnamed: 6  \
0   EstimatedCombinedRate  EstimatedCountyRate  EstimatedCityRate
1                0.100000                    0           0.040000
2                0.100000             0.010000           0.040000
3                0.060000             0.010000                  0
4                0.090000             0.010000           0.040000
..                    ...                  ...                ...
6                0.100000             0.020000           0.040000
7                0.100000             0.030000           0.030000
8                0.070000             0.030000                  0
9                0.100000             0.010000           0.040000
10               0.090000             0.000000           0.050000

              Unnamed: 7      State
0   EstimatedSpecialRate  RiskLevel
1               0.020000          2
2               0.010000          1
3               0.010000          2
4                      0          1
..                   ...        ...
6                      0          1
7                      0          1
8                      0          1
9               0.010000          1
10                     0          1

[11 rows x 9 columns]
===================================
   Unnamed: 0  Unnamed: 1      Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
11         AL       35019  CULLMAN COUNTY        0.04       0.085       0.045
12         AL       35020        BESSEMER        0.04       0.100       0.010
13         AL       35021        BESSEMER        0.04       0.100       0.010
14         AL       35022        BESSEMER        0.04       0.100       0.010
15         AL       35023        HUEYTOWN        0.04       0.100       0.010
..        ...         ...             ...         ...         ...         ...
17         AL       35032    BON AIR TOWN        0.04       0.050       0.010
18         AL       35033  CULLMAN COUNTY        0.04       0.085       0.045
19         AL       35034     BIBB COUNTY        0.04       0.080       0.040
20         AL       35035     BIBB COUNTY        0.04       0.080       0.040
21         AL       35036      GARDENDALE        0.04       0.100       0.010

    Unnamed: 6  Unnamed: 7  State
11        0.00        0.00      1
12        0.04        0.01      2
13        0.04        0.01      1
14        0.04        0.01      4
15        0.04        0.01      4
..         ...         ...    ...
17        0.00        0.00      1
18        0.00        0.00      2
19        0.00        0.00      1
20        0.00        0.00      1
21        0.04        0.01      2

[11 rows x 9 columns]
===================================
   Unnamed: 0  Unnamed: 1          Unnamed: 2  Unnamed: 3  Unnamed: 4  \
22         AL       35038                DORA        0.04        0.09
23         AL       35040  CALERA (SHELBY CO)        0.04        0.09
24         AL       35042         CENTREVILLE        0.04        0.10
25         AL       35043             CHELSEA        0.04        0.09
26         AL       35044        CHILDERSBURG        0.04        0.09
..        ...         ...                 ...         ...         ...
28         AL       35046      CHILTON COUNTY        0.04        0.06
29         AL       35048                CLAY        0.04        0.10
30         AL       35049        CLEVELAND PJ        0.04        0.08
31         AL       35051       SHELBY COUNTY        0.04        0.05
32         AL       35052               MOODY        0.04        0.10

    Unnamed: 5  Unnamed: 6  Unnamed: 7  State
22        0.02        0.03        0.00      1
23        0.01        0.04        0.00      1
24        0.04        0.02        0.00      2
25        0.01        0.04        0.00      1
26        0.01        0.04        0.00      2
..         ...         ...         ...    ...
28        0.02        0.00        0.00      1
29        0.01        0.04        0.01      1
30        0.03        0.00        0.01      2
31        0.01        0.00        0.00      1
32        0.00        0.04        0.02      1

[11 rows x 9 columns]
===================================
   Unnamed: 0  Unnamed: 1                 Unnamed: 2  Unnamed: 3  Unnamed: 4  \
33         AL       35053             CULLMAN COUNTY        0.04       0.085
34         AL       35054           ST. CLAIR COUNTY        0.04       0.060
35         AL       35055                    CULLMAN        0.04       0.090
36         AL       35056                    CULLMAN        0.04       0.090
37         AL       35057             CULLMAN COUNTY        0.04       0.085
..        ...         ...                        ...         ...         ...
39         AL       35060              ADAMSVILLE PJ        0.04       0.080
40         AL       35061  BIRMINGHAM (JEFFERSON CO)        0.04       0.100
41         AL       35062                       DORA        0.04       0.090
42         AL       35063              WALKER COUNTY        0.04       0.060
43         AL       35064                  FAIRFIELD        0.04       0.100

    Unnamed: 5  Unnamed: 6  Unnamed: 7  State
33       0.045       0.000        0.00      1
34       0.000       0.000        0.02      1
35       0.045       0.005        0.00      3
36       0.045       0.005        0.00      1
37       0.045       0.000        0.00      2
..         ...         ...         ...    ...
39       0.010       0.000        0.03      1
40       0.010       0.040        0.01      1
41       0.020       0.030        0.00      1
42       0.020       0.000        0.00      1
43       0.010       0.040        0.01      1

[11 rows x 9 columns]
===================================
   Unnamed: 0  Unnamed: 1          Unnamed: 2  Unnamed: 3  Unnamed: 4  \
44         AL       35068          FULTONDALE        0.04      0.1000
45         AL       35070         GARDEN CITY        0.04      0.0900
46         AL       35071          GARDENDALE        0.04      0.1000
47         AL       35072         CLAY COUNTY        0.04      0.0600
48         AL       35073          GRAYSVILLE        0.04      0.1000
..        ...         ...                 ...         ...         ...
50         AL       35077       HANCEVILLE UN        0.04      0.0875
51         AL       35078        HARPERSVILLE        0.04      0.0900
52         AL       35079       BLOUNT COUNTY        0.04      0.0700
53         AL       35080  HELENA (SHELBY CO)        0.04      0.0900
54         AL       35082         CLAY COUNTY        0.04      0.0600

    Unnamed: 5  Unnamed: 6  Unnamed: 7  State
44       0.010       0.040      0.0100      3
45       0.045       0.005      0.0000      1
46       0.010       0.040      0.0100      1
47       0.020       0.000      0.0000      1
48       0.010       0.040      0.0100      3
..         ...         ...         ...    ...
50       0.045       0.000      0.0025      1
51       0.010       0.040      0.0000      1
52       0.030       0.000      0.0000      2
53       0.010       0.040      0.0000      2
54       0.020       0.000      0.0000      3

[11 rows x 9 columns]
===================================
   Unnamed: 0  Unnamed: 1        Unnamed: 2  Unnamed: 3  Unnamed: 4  \
55         AL       35083    CULLMAN COUNTY        0.04       0.085
56         AL       35085    CHILTON COUNTY        0.04       0.060
57         AL       35087    CULLMAN COUNTY        0.04       0.085
58         AL       35089      COOSA COUNTY        0.04       0.060
59         AL       35091          KIMBERLY        0.04       0.100
..        ...         ...               ...         ...         ...
61         AL       35096           LINCOLN        0.04       0.100
62         AL       35097       LOCUST FORK        0.04       0.090
63         AL       35098    CULLMAN COUNTY        0.04       0.085
64         AL       35111  JEFFERSON COUNTY        0.04       0.060
65         AL       35112          MARGARET        0.04       0.100

    Unnamed: 5  Unnamed: 6  Unnamed: 7  State
55       0.045        0.00        0.00      1
56       0.020        0.00        0.00      1
57       0.045        0.00        0.00      1
58       0.020        0.00        0.00      1
59       0.010        0.04        0.01      1
..         ...         ...         ...    ...
61       0.010        0.05        0.00      1
62       0.030        0.02        0.00      1
63       0.045        0.00        0.00      1
64       0.010        0.00        0.01      2
65       0.000        0.04        0.02      1

[11 rows x 9 columns]
===================================
   Unnamed: 0  Unnamed: 1        Unnamed: 2  Unnamed: 3  Unnamed: 4  \
66         AL       35114         ALABASTER        0.04        0.09
67         AL       35115        MONTEVALLO        0.04        0.10
68         AL       35116            MORRIS        0.04        0.10
69         AL       35117  JEFFERSON COUNTY        0.04        0.06
70         AL       35118  JEFFERSON COUNTY        0.04        0.06
..        ...         ...               ...         ...         ...
72         AL       35120         ODENVILLE        0.04        0.09
73         AL       35121           ONEONTA        0.04        0.10
74         AL       35123            PINSON        0.04        0.10
75         AL       35124            PELHAM        0.04        0.09
76         AL       35125  ST. CLAIR COUNTY        0.04        0.06

    Unnamed: 5  Unnamed: 6  Unnamed: 7  State
66        0.01        0.04        0.00      1
67        0.01        0.05        0.00      2
68        0.01        0.04        0.01      1
69        0.01        0.00        0.01      1
70        0.01        0.00        0.01      3
..         ...         ...         ...    ...
72        0.00        0.03        0.02      1
73        0.03        0.03        0.00      5
74        0.01        0.04        0.01      1
75        0.01        0.04        0.00      3
76        0.00        0.00        0.02      4

[11 rows x 9 columns]
===================================
   Unnamed: 0  Unnamed: 1             Unnamed: 2  Unnamed: 3  Unnamed: 4  \
77         AL       35126       JEFFERSON COUNTY        0.04       0.060
78         AL       35127         PLEASANT GROVE        0.04       0.100
79         AL       35128                   PELL        0.04       0.100
80         AL       35130          WALKER COUNTY        0.04       0.060
81         AL       35131                RAGLAND        0.04       0.100
..        ...         ...                    ...         ...         ...
83         AL       35135              RIVERSIDE        0.04       0.100
84         AL       35136               ROCKFORD        0.04       0.090
85         AL       35137  CALERA PJ (SHELBY CO)        0.04       0.070
86         AL       35139             GRAYSVILLE        0.04       0.100
87         AL       35142  HOOVER (JEFFERSON CO)        0.04       0.095

    Unnamed: 5  Unnamed: 6  Unnamed: 7  State
77        0.01       0.000        0.01      2
78        0.01       0.040        0.01      2
79        0.00       0.050        0.01      1
80        0.02       0.000        0.00      3
81        0.00       0.040        0.02      1
..         ...         ...         ...    ...
83        0.00       0.040        0.02      1
84        0.02       0.030        0.00      1
85        0.01       0.000        0.02      1
86        0.01       0.040        0.01      1
87        0.01       0.035        0.01      1

[11 rows x 9 columns]
===================================
   Unnamed: 0  Unnamed: 1           Unnamed: 2  Unnamed: 3  Unnamed: 4  \
88         AL       35143        SHELBY COUNTY        0.04       0.050
89         AL       35146     ST. CLAIR COUNTY        0.04       0.060
90         AL       35147        SHELBY COUNTY        0.04       0.050
91         AL       35148  SUMITON (WALKER CO)        0.04       0.095
92         AL       35149     TALLADEGA COUNTY        0.04       0.070
..        ...         ...                  ...         ...         ...
94         AL       35151     TALLADEGA COUNTY        0.04       0.070
95         AL       35160            TALLADEGA        0.04       0.100
96         AL       35161            TALLADEGA        0.04       0.100
97         AL       35171              THORSBY        0.04       0.090
98         AL       35172        BLOUNT COUNTY        0.04       0.070

    Unnamed: 5  Unnamed: 6  Unnamed: 7  State
88        0.01       0.000        0.00      1
89        0.00       0.000        0.02      1
90        0.01       0.000        0.00      2
91        0.02       0.035        0.00      1
92        0.03       0.000        0.00      1
..         ...         ...         ...    ...
94        0.03       0.000        0.00      3
95        0.01       0.050        0.00      2
96        0.01       0.050        0.00      2
97        0.02       0.030        0.00      1
98        0.03       0.000        0.00      1

[11 rows x 9 columns]
===================================

   Unnamed: 0  Unnamed: 1                 Unnamed: 2  Unnamed: 3  Unnamed: 4  \
99         AL       35173  TRUSSVILLE (JEFFERSON CO)        0.04         0.1

    Unnamed: 5  Unnamed: 6  Unnamed: 7  State
99        0.01        0.04        0.01      2
===================================

In [71]:
pd.read_csv('AllTask.csv', skiprows=[0], delimiter=",")

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AL,35004,MOODY,0.040000,0.100000,0,0.040000,0.020000,2
1,AL,35005,ADAMSVILLE,0.040000,0.100000,0.010000,0.040000,0.010000,1
2,AL,35006,JEFFERSON COUNTY,0.040000,0.060000,0.010000,0,0.010000,2
3,AL,35007,ALABASTER,0.040000,0.090000,0.010000,0.040000,0,1
4,AL,35010,ALEXANDER,0.040000,0.100000,0.020000,0.040000,0,1
...,...,...,...,...,...,...,...,...,...
12506,IN,47993,WILLIAMSPORT,0.070000,0.070000,0.000000,0.000000,0,0
12507,IN,47994,MONTGOMERY,0.070000,0.070000,0.000000,0,0,0
12508,IN,47995,WHITE,0.070000,0.070000,0.000000,0,0,0
12509,IN,47996,WEST LAFAYETTE,0.070000,0.070000,0.000000,0.000000,0,0
12510,IN,47997,YEOMAN,0.070000,0.070000,0.000000,0.000000,0,0

In [79]:
import csv
# For any file with a single-character delimiter, you can use Pythons built-in csv module.
# To use it, pass any open file or file-like object to csv.reader:
f = open('TAXRATES1.csv')
reader = csv.reader(f)
# reader = list(csv.reader(f)) # Without loop
reader

In [73]:
for line in reader:
    print(line)

['Course', 'Students', 'Location', 'Faculty Teachers']
['AI', '3000', 'Saylani HO', '30']
['CNC', '1056', 'Saylani Gulshan', '14']
['Block Chain', '1307', 'Adamjee', '12']
['IOT', '2000', 'Bahria', '16']

In [77]:
with open('data1.csv') as f:
    lines = list(csv.reader(f))
lines

[['Course', 'Students', 'Location', 'Faculty Teachers'],
 ['AI', '3000', 'Saylani HO', '30'],
 ['CNC', '1056', 'Saylani Gulshan', '14'],
 ['Block Chain', '1307', 'Adamjee', '12'],
 ['IOT', '2000', 'Bahria', '16']]

In [76]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'Course': ('AI', 'CNC', 'Block Chain', 'IOT'),
 'Students': ('3000', '1056', '1307', '2000'),
 'Location': ('Saylani HO', 'Saylani Gulshan', 'Adamjee', 'Bahria'),
 'Faculty Teachers': ('30', '14', '12', '16')}

In [88]:
for h, v in zip(header, zip(*values)):
    print(h)
    print(v)

Course
('AI', 'CNC', 'Block Chain', 'IOT')
Students
('3000', '1056', '1307', '2000')
Location
('Saylani HO', 'Saylani Gulshan', 'Adamjee', 'Bahria')
Faculty Teachers
('30', '14', '12', '16')

# CSV dialect options
## delimiter 
One-character string to separate fields; defaults to ','.
## lineterminator 
Line terminator for writing; defaults to '\r\n'. Reader ignores this and recognizes cross-platform
line terminators.
## quotechar 
Quote character for fields with special characters (like a delimiter); default is '"'.

## quoting 
Quoting convention. Options include csv.QUOTE_ALL (quote all fields), csv.QUOTE_MINI
MAL (only fields with special characters like the delimiter), csv.QUOTE_NONNUMERIC, and
csv.QUOTE_NONE (no quoting). See Pythons documentation for full details. Defaults to
QUOTE_MINIMAL.

## skipinitialspace 
Ignore whitespace after each delimiter; default is False.
## doublequote 
How to handle quoting character inside a field; if True, it is doubled (see online documentation
for full detail and behavior).
## escapechar 
String to escape the delimiter if quoting is set to csv.QUOTE_NONE; disabled by default

# JSON Data 
## (JavaScript Object Notation)

In [94]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
print(obj)

{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}

In [105]:
import json
result = json.loads(obj)
result1 = json.dumps(result)
result['siblings']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [104]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [20]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

# read_table

Load delimited data from a file, URL, or file-like object; use tab ('\t') as default delimiter

In [107]:
txt = pd.read_table('TAXRATES1.csv')

C:\Users\MT-2019.MIT_R9_PC2\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [108]:
txt

  State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0                AK,one,ANCHORAGE BOROUGH,0,0,0,,0,1
1                AK,one,ANCHORAGE BOROUGH,0,,0,0,0,2
2                 AK,two,ANCHORAGE BOROUGH,0,0,,0,,3
3                AK,two,ANCHORAGE BOROUGH,,0,0,0,0,4

In [110]:
fwf = pd.read_fwf('TAXRATES1.csv')

# read_fwf
## Read data in fixed-width column format (i.e., no delimiters)
Means same as file

In [111]:
fwf

  State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0                AK,one,ANCHORAGE BOROUGH,0,0,0,,0,1
1                AK,one,ANCHORAGE BOROUGH,0,,0,0,0,2
2                 AK,two,ANCHORAGE BOROUGH,0,0,,0,,3
3                AK,two,ANCHORAGE BOROUGH,,0,0,0,0,4

# read_clipboard
Version of read_table that reads data from the clipboard; useful for converting tables from web pages
I copied this***==>
Company	Contact	Country
Alfreds	Maria	Germany
Centro	Francisco	Mexico
Ernst	Roland	Austria
Island	Helen	UK
Laughing	Yoshi	Canada
Magazzini	Giovanni	Italy

In [113]:
clip = pd.read_clipboard()
clip

,,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AK,one,ANCHORAGE,BOROUGH,0.0,0.0,0.0,NaN,0.0,1
1,AK,one,ANCHORAGE,BOROUGH,0.0,NaN,0.0,0.0,0.0,2
2,AK,two,ANCHORAGE,BOROUGH,0.0,0.0,NaN,0.0,NaN,3
3,AK,two,ANCHORAGE,BOROUGH,NaN,0.0,0.0,0.0,0.0,4

# read_excel
Read tabular data from an Excel XLS or XLSX file
excel ki xlsx ki file se data read krta hai.

In [115]:
pd.read_excel('test2.xlsx')

,Unnamed: 0,companyName,url,address,tel,fax,website,year,ust,employee,detail,txt
0,0,ELMEKO GmbH + Co. KG,https://de.kompass.com/c/elmeko-gmbh-co-kg/de5...,Graf-Zeppelin-Str. 5 56479 Liebenscheid,49.0,+49 2736 50974830,http://www.elmeko.de,2004,DE814139072,10Mitarbeiter,Komponenten fr den Schaltschrank: Schaltschr...,Dipl.-Ing. Burkhard Herr Geschftsfhrung S...
1,1,CNC-Przisionstechnik Schmidt & Kexel GmbH,https://de.kompass.com/c/schmidt-kexel-gmbh/de...,Westerburger Strae 38 b 56470 Bad Marienberg,49.0,+49 2661 985518,http://www.sk-cnc.de,1982,DE243964186,Amtsgericht Montabaur HRB: 20057,Fertigung von kundenspezifischen Drehteilen na...,Herr Lothar Schmidt Geschftsfhrung Frau P...
2,2,ZENO Zerkleinerungsmaschinenbau Norken GmbH,https://de.kompass.com/c/zeno-zerkleinerungsma...,ZENO-Platz 1 57629 Norken,49.0,+49 2661 959647,http://www.zeno.de,1978,DE147998020,Amtsgericht Montabaur Registernummer: HRB 1993,Herstellung und Vertrieb von Holzzerkleinerung...,Richarda Krger Geschftsfhrung
3,3,Max Krger GmbH & Co. KG,https://de.kompass.com/c/max-kruger-gmbh-co-kg...,Bahnhofstr. 18 56424 Moschheim,49.0,+49 2602 940850,http://www.mkm-keramik.de,1973,DE149322620,Von 20 bis 49Mitarbeiter,Herstellung von Keramikkrgen und Keramiktpfe...,Herr Wolfgang Krger Geschftsfhrung
4,4,Reifen Specht Handels GmbH,https://de.kompass.com/c/reifen-specht-handels...,Am Kirchenwald 1 56235 Ransbach-Baumbach,49.0,+49 2623 9243 139,http://www.Reifen-Specht.de,1980,DE811936308,Von 50 bis 99Mitarbeiter,Reifenhandel,Rosel Specht Geschftsfhrung
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,SEIFER & HUMMRICH GmbH,https://de.kompass.com/c/seifer-hummrich-gmbh/...,Bergstrae 14 57629 Atzelgift,49.0,+49 2662 930068,http://www.seifer-hummrich.de,NaN,DE141675275,Von 10 bis 19Mitarbeiter,NaN,Thomas Seifer Geschftsfhrung
97,97,Moritz Bau GmbH,https://de.kompass.com/c/moritz-bau-gmbh/de164...,Am Acker 15 57629 Steinebach,49.0,+49 2662 5850,http://www.moritzbau.com,NaN,DE147996554,Von 10 bis 19Mitarbeiter,NaN,Tanja Moritz-K Geschftsfhrung
98,98,Eberz GmbH & Co. KG,https://de.kompass.com/c/eberz-gmbh-co-kg/de18...,Gartenstrae 2 56244 Hartenfels,49.0,+49 26 26 78 81 3,http://www.eberz-bau.de,NaN,NaN,DE187165,NaN,Heinz Eberz Geschftsfhrung
99,99,BAUtec Gebr. Schnberger GmbH,https://de.kompass.com/c/bautec-gebr-schonberg...,Grubenstrae 20 56462 Hhn,49.0,+49 2 66 1 94 92 32,http://www.bautec-hoehn.de,NaN,NaN,DE114534,NaN,Torsten Krempel Geschftsfhrung
100,100,MOHR - Holzbau GmbH,https://de.kompass.com/c/mohr-holzbau-gmbh/de1...,Am Wolfsgestell 2 56477 Rennerod,49.0,+49 2664 99441,http://www.mohr-holzbau.net,NaN,DE211916774,Von 10 bis 19Mitarbeiter,NaN,Peter Menges Geschftsfhrung

# read_hdf
Read HDF5 files written by pandas

In [116]:
df = pd.DataFrame([[1, 1.0, 'a']], columns=['x', 'y', 'z'])
df

   x    y  z
0  1  1.0  a

In [119]:
df.to_hdf('./store.h5','data')
df.to_csv('abc.csv')

In [118]:
reread = pd.read_hdf('store.h5')
reread

   x    y  z
0  1  1.0  a

# read_html 
Read all tables found in the given HTML document
HTML file

In [ ]:
# %load index.html
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds</td>
    <td>Maria</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro</td>
    <td>Francisco</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Roland</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island</td>
    <td>Helen</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing</td>
    <td>Yoshi</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini</td>
    <td>Giovanni</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>

In [126]:
htmlReader = pd.read_html('index.html')
pd.DataFrame(htmlReader[0])

     Company    Contact  Country
0    Alfreds      Maria  Germany
1     Centro  Francisco   Mexico
2      Ernst     Roland  Austria
3     Island      Helen       UK
4   Laughing      Yoshi   Canada
5  Magazzini   Giovanni    Italy

# read_json 
Read data from a JSON (JavaScript Object Notation) string representation.

In [30]:
# %load data.json
{"columns":["col 1","col 2"],
  "index":["row 1","row 2"],
  "data":[["a","b"],["c","d"]]}

{'columns': ['col 1', 'col 2'],
 'index': ['row 1', 'row 2'],
 'data': [['a', 'b'], ['c', 'd']]}

In [127]:
readJson = pd.read_json('data.json')
readJson

  columns  index    data
0   col 1  row 1  [a, b]
1   col 2  row 2  [c, d]

# read_msgpack 
Read pandas data encoded using the MessagePack binary format
# read_pickle 
Read an arbitrary object stored in Python pickle format
# read_sas 
Read a SAS dataset stored in one of the SAS systems custom storage formats
# read_sql 
Read the results of a SQL query (using SQLAlchemy) as a pandas DataFrame
# read_stata 
Read a dataset from Stata file format
# read_feather 
Read the Feather binary file format

# XML and HTML: Web Scraping

In [129]:
tables = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')
pd.DataFrame(tables[0])

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019","October 25, 2019"
1,"Louisa Community Bank, Inc.",Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019","October 25, 2019"
2,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
3,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
4,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"
...,...,...,...,...,...,...,...
553,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
554,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
555,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
556,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
557,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [130]:
len(tables)

1

In [132]:
failures = tables[0]
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019","October 25, 2019"
1,"Louisa Community Bank, Inc.",Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019","October 25, 2019"
2,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
3,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
4,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"
...,...,...,...,...,...,...,...
553,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
554,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
555,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
556,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
557,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [133]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019","October 25, 2019"
1,"Louisa Community Bank, Inc.",Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019","October 25, 2019"
2,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
3,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
4,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"

In [134]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps

0     2019-10-25
1     2019-10-25
2     2019-05-31
3     2017-12-15
4     2017-10-13
         ...
553   2001-07-27
554   2001-05-03
555   2001-02-02
556   2000-12-14
557   2000-10-13
Name: Closing Date, Length: 558, dtype: datetime64[ns]

In [37]:
dateCount = close_timestamps.dt.date.value_counts() #Count Dates in this column
dayCount = close_timestamps.dt.day.value_counts() #Count Days in this column
monthCount = close_timestamps.dt.month.value_counts() #Count months in this column
yearCount = close_timestamps.dt.year.value_counts() #Count years in this column
dateCount

2009-10-30    9
2010-08-20    8
2010-04-16    8
2010-10-22    7
2010-04-30    7
             ..
2008-09-25    1
2011-03-25    1
2012-09-07    1
2014-10-24    1
2001-02-02    1
Name: Closing Date, Length: 252, dtype: int64

In [38]:
dayCount

23    31
30    30
19    30
20    27
17    23
      ..
12    10
9     10
31     9
1      8
3      4
Name: Closing Date, Length: 31, dtype: int64

In [39]:
monthCount

7     74
10    59
4     59
1     51
5     44
      ..
3     40
9     38
6     36
12    35
11    35
Name: Closing Date, Length: 12, dtype: int64

In [40]:
yearCount

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2007      3
2003      3
2000      2
2019      1
Name: Closing Date, Length: 17, dtype: int64

# Parsing XML with lxml.objectify
## XML (eXtensible Markup Language)

In [135]:
from lxml import objectify
parsed = objectify.parse(open('abc.xml'))
root = parsed.getroot()
root

In [136]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
#         print(child.tag)
#         print(child.pyval)
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [137]:
data

[{'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'Escalator Availability',
  'DESCRIPTION': 'Percent of the time that escalators are operational\nsystemwide. The availability rate is based on physical observations performed\nthe morning of regular business days only. This is a new indicator the agency\nbegan reporting in 2009.',
  'PERIOD_YEAR': 2011,
  'PERIOD_MONTH': 12,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 97.0,
  'YTD_ACTUAL': '',
  'MONTHLY_TARGET': 97.0,
  'MONTHLY_ACTUAL': ''}]

In [ ]:
from io import StringIO
tag = '<a href="http://www.google.com" target="_blank">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [ ]:
root.get('href')

In [ ]:
root.text

In [ ]:
xlsx = pd.ExcelFile('Book1.xlsx')

In [ ]:
pd.read_excel(xlsx, 'Sheet1')

In [ ]:
writer = pd.ExcelWriter('Book1.xlsx')
failures.to_excel(writer,'Sheet1')
writer.save()

# Interacting with Web APIs

In [138]:
import requests

In [139]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [140]:
data = resp.json()
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29235',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29235/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29235/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29235/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29235',
  'id': 512820850,
  'node_id': 'MDU6SXNzdWU1MTI4MjA4NTA=',
  'number': 29235,
  'title': 'Categories reordered to alphabetical when plotting histograms',
  'user': {'login': 'dmey',
   'id': 26348635,
   'node_id': 'MDQ6VXNlcjI2MzQ4NjM1',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/26348635?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/dmey',
   'html_url': 'https://github.com/dmey',
   'followers_url': 'https://api.github.com/users/dmey/followers',
   'following_url': 'https://api.github.com/users/dmey/following{/other_user}',
   'gists_url': 'https://api.github.com/users/dmey/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/dmey/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/dmey/subscriptions',
   'organizations_url': 'https://api.github.com/users/dmey/orgs',
   'repos_url': 'https://api.github.com/users/dmey/repos',
   'events_url': 'https://api.github.com/users/dmey/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/dmey/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-26T10:44:24Z',
  'updated_at': '2019-10-26T10:44:24Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': "#### Code Sample, a copy-pastable example if possible\r\n\r\n```python\r\nimport pandas as pd\r\n\r\nimport matplotlib.pyplot as plt\r\n\r\ndf = pd.DataFrame({\r\n    'width': [0.7, 0.2, 0.15, 0.2, 1.1],\r\n    'length': [1.5, 0.5, 1.2, 0.9, 3]\r\n    }, index= ['pig', 'rabbit', 'duck', 'chicken', 'horse'])\r\n\r\n# Whether or not `column` is passed the order is still reordered to alphabetical.\r\ndf.hist(column=['width','length'])\r\nplt.show()\r\n```\r\n#### Problem description\r\n\r\nWhen plotting histograms from a DataFrame (see code-snippet above) the order of subplots is not maintained. Passing `column` does not appear to have any effect on the ordering either. \r\n\r\n\r\n#### Expected Output\r\n\r\nPlots/subplots order equals column order in DataFrame.\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n```\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.7.3.final.0\r\npython-bits: 64\r\nOS: Windows\r\nOS-release: 10\r\nmachine: AMD64\r\nprocessor: Intel64 Family 6 Model 69 Stepping 1, GenuineIntel\r\nbyteorder: little\r\nLC_ALL: None\r\nLANG: None\r\nLOCALE: None.None\r\n\r\npandas: 0.24.2\r\npytest: 5.2.1\r\npip: 19.1.1\r\nsetuptools: 41.0.1\r\nCython: None\r\nnumpy: 1.16.4\r\nscipy: 1.2.2\r\npyarrow: None\r\nxarray: 0.12.1\r\nIPython: 7.5.0\r\nsphinx: None\r\npatsy: 0.5.1\r\ndateutil: 2.8.0\r\npytz: 2019.1\r\nblosc: None\r\nbottleneck: None\r\ntables: None\r\nnumexpr: None\r\nfeather: None\r\nmatplotlib: 3.1.0\r\nopenpyxl: None\r\nxlrd: None\r\nxlwt: None\r\nxlsxwriter: None\r\nlxml.etree: None\r\nbs4: 4.7.1\r\nhtml5lib: None\r\nsqlalchemy: None\r\npymysql: None\r\npsycopg2: None\r\njinja2: 2.10.1\r\ns3fs: None\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: None\r\ngcsfs: None\r\n```\r\n"},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29234',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29234/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29234/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29234/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29234',
  'id': 512794116,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMyNzM4Mjg2',
  'number': 29234,
  'title': "BUG: PeriodEngine doesn't work",
  'user': {'login': 'proost',
   'id': 34047134,
   'node_id': 'MDQ6VXNlcjM0MDQ3MTM0',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/34047134?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/proost',
   'html_url': 'https://github.com/proost',
   'followers_url': 'https://api.github.com/users/proost/followers',
   'following_url': 'https://api.github.com/users/proost/following{/other_user}',
   'gists_url': 'https://api.github.com/users/proost/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/proost/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/proost/subscriptions',
   'organizations_url': 'https://api.github.com/users/proost/orgs',
   'repos_url': 'https://api.github.com/users/proost/repos',
   'events_url': 'https://api.github.com/users/proost/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/proost/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2019-10-26T05:34:34Z',
  'updated_at': '2019-10-26T05:50:42Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29234',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29234',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29234.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29234.patch'},
  'body': '- [x] closes #29038\r\n- [x] tests added / passed\r\n- [x] passes `black pandas`\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [x] whatsnew entry\r\n\r\nxref #28628. \r\nI want to refactor `PeriodIndex.get_loc`. Because `PeriodIndex.get_loc` compute twice `Int64index.get_loc` and `PeriodEngine.get_loc`. Problem is only `PeriodEngine.get_loc` accepts `Period.ordinal`. \r\nI try to change `PeriodIndex.get_loc` in two ways.\r\nFirst one, I try to remove `PeriodEngine.get_loc` in `PeriodIndex.get_loc`. so just compute `.get_loc` once. I change several ways But always stuck in test cases. So I give it up this way.\r\nSecond one, I try to change `PeriodEngine.get_loc` to accept `Period` not only `Period.ordinal`. This way is success in that work successfully and pass all test cases. However Problem is most cases users don\'t use `Period` using `PeriodIndex.get_loc` and `PeriodEngine.get_loc` can\'t accept "intolerance" argument. Not using `Int64index.get_loc` can\'t be possible. \r\nBut I send PR. Little improvement is also improvement. '},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29233',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29233/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29233/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29233/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29233',
  'id': 512792675,
  'node_id': 'MDU6SXNzdWU1MTI3OTI2NzU=',
  'number': 29233,
  'title': 'read_csv encode operation on source',
  'user': {'login': 'abellerarj',
   'id': 56994226,
   'node_id': 'MDQ6VXNlcjU2OTk0MjI2',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/56994226?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/abellerarj',
   'html_url': 'https://github.com/abellerarj',
   'followers_url': 'https://api.github.com/users/abellerarj/followers',
   'following_url': 'https://api.github.com/users/abellerarj/following{/other_user}',
   'gists_url': 'https://api.github.com/users/abellerarj/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/abellerarj/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/abellerarj/subscriptions',
   'organizations_url': 'https://api.github.com/users/abellerarj/orgs',
   'repos_url': 'https://api.github.com/users/abellerarj/repos',
   'events_url': 'https://api.github.com/users/abellerarj/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/abellerarj/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-26T05:14:57Z',
  'updated_at': '2019-10-26T05:16:25Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': '#### Code Sample, a copy-pastable example if possible\r\n\r\n```python\r\n>>> import pandas as pd\r\n>>> df = pd.read_csv("historical_dataset.csv")\r\nTraceback (most recent call last):\r\n  File "<stdin>", line 1, in <module>\r\n  File "/usr/lib/python3/dist-packages/pandas/io/parsers.py", line 709, in parser_f\r\n    return _read(filepath_or_buffer, kwds)\r\n  File "/usr/lib/python3/dist-packages/pandas/io/parsers.py", line 449, in _read\r\n    parser = TextFileReader(filepath_or_buffer, **kwds)\r\n  File "/usr/lib/python3/dist-packages/pandas/io/parsers.py", line 818, in __init__\r\n    self._make_engine(self.engine)\r\n  File "/usr/lib/python3/dist-packages/pandas/io/parsers.py", line 1049, in _make_engine\r\n    self._engine = CParserWrapper(self.f, **self.options)\r\n  File "/usr/lib/python3/dist-packages/pandas/io/parsers.py", line 1695, in __init__\r\n    self._reader = parsers.TextReader(src, **kwds)\r\n  File "pandas/_libs/parsers.pyx", line 402, in pandas._libs.parsers.TextReader.__cinit__\r\n  File "pandas/_libs/parsers.pyx", line 718, in pandas._libs.parsers.TextReader._setup_parser_source\r\nFileNotFoundError: File b\'historical_dataset.csv\' does not exist\r\n```\r\n#### Problem description\r\n\r\nNoticed that when source does not exist, there is a leading \'b\' on the source on the error message. For Python3, is it necessary to do the encode operation on line 667 of https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/parsers.pyx? Works fine for Python2.\r\n\r\n#### Output of ``pd.show_versions()``\r\n<details>\r\n```\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : None\r\npython           : 3.7.4.final.0\r\npython-bits      : 64\r\nOS               : Linux\r\nOS-release       : 5.0.0-31-generic\r\nmachine          : x86_64\r\nprocessor        : x86_64\r\nbyteorder        : little\r\nLC_ALL           : en_US.UTF-8\r\nLANG             : en_US.UTF-8\r\nLOCALE           : en_US.UTF-8\r\n\r\npandas           : 0.25.1\r\nnumpy            : 1.14.5\r\npytz             : 2018.5\r\ndateutil         : 2.8.0\r\npip              : 19.2.3\r\nsetuptools       : 41.2.0\r\nCython           : 0.29.13\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : 1.7.6\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : 4.2.3\r\nhtml5lib         : None\r\npymysql          : 0.9.3\r\npsycopg2         : None\r\njinja2           : 2.10\r\nIPython          : None\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nlxml.etree       : 4.2.3\r\nmatplotlib       : 2.2.2\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : None\r\npyarrow          : None\r\npytables         : None\r\ns3fs             : None\r\nscipy            : 1.1.0\r\nsqlalchemy       : 1.3.8\r\ntables           : None\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nxlsxwriter       : None\r\n```\r\n</details>'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29232',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29232/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29232/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29232/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29232',
  'id': 512773525,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMyNzIzNTM3',
  'number': 29232,
  'title': 'CLN: assorted cleanups',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-10-26T01:21:52Z',
  'updated_at': '2019-10-26T01:21:52Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/29232',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/29232',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/29232.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/29232.patch'},
  'body': ''},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29231',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29231/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29231/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29231/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/29231',
  'id': 512713046,
  'node_id': 'MDU6SXNzdWU1MTI3MTMwNDY=',
  'number': 29231,
  'title': 'numpy.asarray() removes fill value from Pandas SparseArrays',
  'user': {'login': 'jtanman',
   'id': 5379628,
   'node_id': 'MDQ6VXNlcjUzNzk2Mjg=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/5379628?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jtanman',
   'html_url': 'https://github.com/jtanman',
   'followers_url': 'https://api.github.com/users/jtanman/followers',
   'following_url': 'https://api.github.com/users/jtanman/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jtanman/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jtanman/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jtanman/subscriptions',
   'organizations_url': 'https://api.github.com/users/jtanman/orgs',
   'repos_url': 'https://api.github.com/users/jtanman/repos',
   'events_url': 'https://api.github.com/users/jtanman/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jtanman/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2019-10-25T20:44:57Z',
  'updated_at': '2019-10-26T09:04:30Z',
  'closed_at': None,
  'author_association': 'NONE',
  'body': '#### Code Sample, a copy-pastable example if possible\r\n\r\n```python\r\nimport numpy as np\r\nimport pandas as pd\r\n\r\narr = np.random.randint(2, size=10)\r\narr\r\narray([0, 1, 0, 1, 0, 0, 0, 0, 0, 1])\r\n\r\nsparr = pd.SparseArray(arr, fill_value=0)\r\nsparr\r\n[0, 1, 0, 1, 0, 0, 0, 0, 0, 1]\r\nFill: 0\r\nIntIndex\r\nIndices: array([1, 3, 9], dtype=int32)\r\n\r\nnp_arr = np.asarray(sparr)\r\nnp_arr\r\narray([1, 1, 1])\r\n```\r\n#### Problem description\r\n\r\nConverting back to a dense array from a Pandas SparseArary no longer works as intended. It should keep all values in the array as is, but instead the new array removes all elements that are the fill_value. Thus the new array ends up with less elements than before.\r\n\r\n**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and close duplicates!\r\n\r\n**Note**: Many problems can be resolved by simply upgrading `pandas` to the latest version. Before submitting, please check if that solution works for you. If possible, you may want to check if `master` addresses this issue, but that is not necessary.\r\n\r\nFor documentation-related issues, you can check the latest versions of the docs on `master` here:\r\n\r\nhttps://pandas-docs.github.io/pandas-docs-travis/\r\n\r\nIf the issue has not been resolved there, go ahead and file it in the issue tracker.\r\n\r\n#### Expected Output\r\n\r\n```python\r\nnp_arr\r\narray([0, 1, 0, 1, 0, 0, 0, 0, 0, 1])\r\n```\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\n[paste the output of ``pd.show_versions()`` here below this line]\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.7.1.final.0\r\npython-bits: 64\r\nOS: Darwin\r\nOS-release: 18.6.0\r\nmachine: x86_64\r\nprocessor: i386\r\nbyteorder: little\r\nLC_ALL: None\r\nLANG: en_US.UTF-8\r\nLOCALE: en_US.UTF-8\r\n\r\npandas: 0.23.4\r\npytest: 5.2.1\r\npip: 18.1\r\nsetuptools: 41.4.0\r\nCython: 0.29.13\r\nnumpy: 1.17.3\r\nscipy: 1.3.1\r\npyarrow: None\r\nxarray: None\r\nIPython: 7.8.0\r\nsphinx: None\r\npatsy: 0.5.1\r\ndateutil: 2.8.0\r\npytz: 2019.3\r\nblosc: None\r\nbottleneck: None\r\ntables: None\r\nnumexpr: None\r\nfeather: None\r\nmatplotlib: 3.1.1\r\nopenpyxl: None\r\nxlrd: None\r\nxlwt: None\r\nxlsxwriter: None\r\nlxml: None\r\nbs4: None\r\nhtml5lib: None\r\nsqlalchemy: 1.3.10\r\npymysql: 0.9.3\r\npsycopg2: None\r\njinja2: 2.10.3\r\ns3fs: None\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: None\r\n\r\n</details>\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29229',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29229/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29229/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/29229/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/29229',
  'id': 512679300,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0MzMyNjQ2NDY0',
  'number': 29229,
  'title': 'API/DOC: an ExtensionDtype.__from_arrow__ method to convert pyarrow.Array into ExtensionArray',
  'user': {'login': 'jorisvandenbossche',
   'id': 1020496,
   'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/1020496?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jorisvandenbossche',
   'html_url': 'https://github.com/jorisvandenbossche',
   'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
   'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',

In [141]:
data[0]['title']

'Categories reordered to alphabetical when plotting histograms'

In [ ]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])
issues

# Interacting with Databases

In [ ]:
import sqlite3
query = """
    CREATE TABLE test
    (a VARCHAR(20), b VARCHAR(20),
    c REAL, d INTEGER);"""

In [ ]:
print(query)

In [ ]:
con = sqlite3.connect('mydata.sqlite')

In [ ]:
con.execute(query)

In [ ]:
con.commit()

In [ ]:
data = [('Atlanta', 'Georgia', 1.25, 6),
('Tallahassee', 'Florida', 2.6, 3),
('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [ ]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows