In [1]:
import pandas as pd

In [2]:
frame

NameError: name 'frame' is not defined

In [3]:
pickle = pd.read_pickle('frame_pickle')

In [4]:
pickle

,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,AK,one,ANCHORAGE BOROUGH,0.0,0.0,0.0,NaN,0.0,1
1,AK,one,ANCHORAGE BOROUGH,0.0,NaN,0.0,0.0,0.0,2
2,AK,two,ANCHORAGE BOROUGH,0.0,0.0,NaN,0.0,NaN,3
3,AK,two,ANCHORAGE BOROUGH,NaN,0.0,0.0,0.0,0.0,4